body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: Inconsolata, monospace;
  color: #d7d6d6;
}