.column {
  height: 40vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2%;
  border: 2px solid white;
  border-radius: 5px;
  background: linear-gradient(to bottom right, oldlace, #6e54c4);
}

.columnHeader {
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.autoFbButton {
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  font-size: 1.3rem;
  font-weight: 600;
  background: royalBlue;
  color: #fff;
  border: 1px solid oldlace;
  border-radius: 6px;
  cursor: pointer;
}

.autoFbButton:hover {
  opacity: 0.8;
}

.autoFbButtonDisabled {
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  font-size: 1.3rem;
  font-weight: 600;
  background: royalBlue;
  color: #fff;
  border: 1px solid oldlace;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
}

.autoTwitterButton {
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  font-size: 1.3rem;
  font-weight: 600;
  background: royalBlue;
  color: #fff;
  border: 1px solid oldlace;
  border-radius: 6px;
  cursor: pointer;
}

.autoTwitterButton:hover {
  opacity: 0.8;
}

.autoTwitterButtonDisabled {
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  font-size: 1.3rem;
  font-weight: 600;
  background: royalBlue;
  color: #fff;
  border: 1px solid oldlace;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
}

.iconFacebook {
  margin: 0% auto;
  font-size: 4rem;
  color: royalblue;
  background: white;
  border: 1px solid white;
  border-radius: 25px;
}

.iconTwitter {
  margin: 0 auto;
  font-size: 4rem;
  background: white;
  color: rgb(29, 161, 242);
}

.subtext {
  margin: 0 auto;
}

.stepsContainer {
  width: 95%;
  margin: 1% auto;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-radius: 5px;
}

.stepsText {
  font-weight: 600;
  font-size: 1.2rem;
  width: 95%;
  margin: 1% auto;
  text-align: center;
}
