/* Landing */

.landing {
  width: 98vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  background: rgb(40, 44, 52);
  font-family: 'Inconsolata';
}

.header {
  font-size: 3rem;
  text-align: center;
  font-family: 'Audiowide';
  color: white;
}

.headerText {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.parentContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerContainer {
  width: 90%;
  padding: 0.5%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 5px;
  background: linear-gradient(to bottom right, oldlace, #6e54c4);
}

.footerText {
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
