/* Landing */

.landing {
  width: 98vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #d7d6d6, #6e54c4);
  font-family: 'Inconsolata';
}

.header {
  font-size: 3rem;
  text-align: center;
  font-family: 'Audiowide';
}

.headerText {
  text-align: center;
  font-size: 1.5rem;
}

.column {
  height: 40vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 5px;
  background: linear-gradient(to bottom right, oldlace, #6e54c4);
}

.columnHeader {
  font-size: 1.4rem;
  text-align: center;
}

.parentContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.autoFbButton {
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  font-size: 1.3rem;
  font-weight: 600;
  background: royalBlue;
  color: #fff;
  border: 1px solid oldlace;
  border-radius: 6px;
  cursor: pointer;
}

.autoFbButton:hover {
  opacity: 0.8;
}

.autoFbButtonDisabled {
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  font-size: 1.3rem;
  font-weight: 600;
  background: royalBlue;
  color: #fff;
  border: 1px solid oldlace;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
}

.autoTwitterButton {
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  font-size: 1.3rem;
  font-weight: 600;
  background: royalBlue;
  color: #fff;
  border: 1px solid oldlace;
  border-radius: 6px;
  cursor: pointer;
}

.autoTwitterButton:hover {
  opacity: 0.8;
}

.autoTwitterButtonDisabled {
  width: 70%;
  margin: 3% auto;
  padding: 3%;
  font-size: 1.3rem;
  font-weight: 600;
  background: royalBlue;
  color: #fff;
  border: 1px solid oldlace;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.8;
}
