/* Landing */

.landing {
  width: 98vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #d7d6d6, #6e54c4);
  font-family: 'Inconsolata';
}

.header {
  font-size: 3rem;
  text-align: center;
  font-family: 'Audiowide';
}

.headerText {
  text-align: center;
  font-size: 1.5rem;
}

.parentContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
