/* Landing */

.landing {
  width: 98vw;
  height: 96vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #d7d6d6, #6e54c4);
}

.header {
  font-size: 3rem;
  text-align: center;
}

.headerText {
  text-align: center;
  font-size: 1.5rem;
}

.row {
  width: 90%;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
