/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
html {
  font-size: 10px;
  box-sizing: border-box;
  background: rgb(40, 44, 52);
}
*,
*:before,
*:after {
  font-size: inherit;
  box-sizing: inherit;
}
